{% extends 'base.html' %}

{% load static %}

{% block title %} View Cart {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="page-title text-center">Review Cart</h1>
            </div>
            <div class="col-sm-12">
                <p class="page-desc text-center">Hi {{ user }}, your cart info is below. Please make sure you review the
                details of the plan you selected before continuing to Checkout. If you want to empty your cart, just click on
                the empty cart option below. If you are happy to proceed, click the Checkout button and let's get you on your
                way to becoming Precise, a Healthier version of yourself and Performing at a level you never knew you could.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center brand-img">
                <img class="img-fluid" src="{% static 'img/logo.png' %}" alt="PHP Logo">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% if cart_items %}
                {% for item in cart_items %}
                    <div class="col-sm-12">
                        <div class="card membership-card-cart">
                            <div class="card-header">
                                <h4>{{ item.membership.type }} @ €{{ item.membership.price }} / {{ item.membership.frequency }}</h4>
                            </div>
                            <div class="card-body membership-detail-cart text-center">
                                <p class="brief-desc">{{ item.membership.brief_desc }}</p>
                            </div>
                            <!-- Empty Cart confirmation. User is prompted to click on a "empty cart" twice, 1st opens up the dialog
                            explaining the functionality, 2nd actually confirms action and empties cart. -->
                            <div class="cart-footer text-center">
                                <a href="{% url 'checkout' %}" class="btn btn-primary checkout-btn">Checkout</a>
                                <div class="open-del">
                                    <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                                       aria-controls="collapseExample">Click here to Clear Cart</a>
                                </div>
                                <div class="collapse confirm-del" id="collapseExample">
                                    <p class="page-desc del-desc">Clearing the cart is an irreversible action, meaning you will have to
                                    select a Membership Plan to add to cart again if you want to buy one! If you are sure, confirm this
                                    action by pressing the Clear button below.</p>
                                    <a class="btn btn-danger btn-del" href="{% url 'clear-cart' %}">Clear</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-sm-12 text-center">
                    <p class="page-desc">Your Cart is empty! Why not have a look at our Membership plans on
                    display in the Membership page.</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}