{% extends 'base.html' %}

{% load static %}

{% block title %} View Cart {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="page-title text-center">Review Cart</h1>
            </div>
            <div class="col-sm-12">
                <p class="page-desc text-center">Lorem.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center brand-img">
                <img class="img-fluid" src="{% static 'img/logo.png' %}" alt="PHP Logo">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% for item in cart_items %}
                    <p>{{ item.membership.type }} Plan @ {{ item.membership.price }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}