<!-- Static loaded to render brand-img -->
{% load static %}

<div class="container align-items-center">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-title text-center">Wait?</h1>
        </div>
        <div class="col-sm-12">
            <p class="page-desc text-center">You aren't supposed to be here.....Use the navigation links above
            to return or visit any of the other pages available to you. You may be seeing this because you have yet
            to login. Make sure to login and try again.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center brand-img">
            <img class="img-fluid" src="{% static 'img/logo.png' %}" alt="PHP Logo">
        </div>
    </div>
</div>

<!-- Page/Form alerts for user visibility, injected via Jinja templating -->
{% include 'partials/_alerts.html' %}