{% load static %} <!-- Needed to link to static files that are
 saved in our root static folder in the case of the navbar we
 need to load our logo so we may link to it in img src below.-->

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-custom fixed-top">
    <!-- Logo -->
    <a class="navbar-brand" aria-label="Brand Logo & Link to refresh" href="{% url 'index' %}">
        <img src="{% static 'img/logo.png' %}" alt="Logo" title="PHP Logo">
    </a>
    <!-- Toggler Icon on mobile view -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navigation links -->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto uppercase">
                <li class="nav-item">
                    <a class="nav-link" aria-label="Home" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-label="Home" href="{% url 'about' %}">About</a>
                </li>
            </ul>
    </div>
</nav>