{% extends 'base.html' %}

{% load static %}

<!-- Leaflet.js css -->
{% block css %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"/>
{% endblock %}

{% block title %} About {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="page-title text-center">About Us</h1>
            </div>
            <div class="col-sm-12">
                <p class="page-desc text-center">Put very simply, we are a local run family and community orientate health & performance
                facility. We facilitate all things fitness and of course Olympic Weightlifting, hence PHP Barbell. So what makes us
                stand out above the rest?</p>
                <p class="page-desc text-center">We Care. We care about you, about our coaches, about our methods, about our community and
                about openness. We want to impart the knowledge you need to learn about the thing you are doing. With Olympic Weightlifting
                technique and maintaining impeccable form is paramount especially when the load gets heavy. Industry secrets help no-one.
                So we make it our jobs to not have any! Any client who puts their trust in us to help them can rest assured knowing they
                will be provided with all the support necessary to succeed. Now, let's load a barbell!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center brand-img">
                <img class="img-fluid" src="{% static 'img/logo.png' %}" alt="PHP Logo">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="page-subtitle text-center">Olympic Weightlifting</h2>
            </div>
            <div class="col-sm-12">
                <p class="page-desc text-center">Here at PHP Barbell we specialise in teaching Olympic Weightlifting. We all learn together, and even
                our coaching methods evolve with every passing person we train in PHP Barbell. Olympic Weightlifting consists of two primary movements
                ......yes two.</p>
                <p class="page-desc text-center"> The Snatch, and Clean & Jerk. Both movements on paper seem relatively easy. They aren't.
                Luckily our resident coach Danny has a solid hold on all of us and is super eager to impart his well earned knowledge of
                the sport onto anyone willing to learn! We have multiple members all lifting at a competitive standard and even our coaches compete.
                We just love the sport, so much so we do it daily. Have a look at some of the images below to see what our members and coaches do
                and if you are interested, why not take that deep dive into the wonderful world of Olympic Weightlifting at PHP Barbell.</p>
            </div>
            <div class="col-sm-12 text-center club-img">
                <img class="img-fluid" src="{% static 'img/barbell-club.jpg' %}" alt="Barbell Club">
            </div>
        </div>
    </div>

    <div class="coaches container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="page-subtitle text-center">Meet our Coaches</h2>
            </div>
            <div class="col-sm-12">
                <p class="page-desc text-center">Each of us are capable of performing to our absolute best. Some think performance
                is for the select few and not for themselves. We want to banish that frame of thinking and show you that you too can perform
                at your highest possible standard. This is our job, our mission.....We are your coaches!</p>
            </div>
            {% if staff_members %}
                {% for staff in staff_members %}
                    <div class="col-sm-12 col-lg-4">
                        <div class="card">
                            <div class="card-header">
                                <h4><i class="fas fa-portrait"></i> {{ staff.name }}</h4>
                                <small class="brief-desc">{{ staff.brief_desc }}</small>
                            </div>
                            <div class="card-body card-body-coach">
                                <div class="card-img-coach">
                                    <img class="img-fluid" src="{{ staff.photo_url }}" alt="{{ staff.name }} Image">
                                </div>
                                <h5 class="card-title text-center">Qualifications</h5>
                                <ul class="qualifications-list">
                                    {% if staff.qualification_1 %}
                                        <li>{{ staff.qualification_1 }}</li>
                                    {% endif %}
                                    {% if staff.qualification_2 %}
                                        <li>{{ staff.qualification_2 }}</li>
                                    {% endif %}
                                    {% if staff.qualification_3 %}
                                        <li>{{ staff.qualification_3 }}</li>
                                    {% endif %}
                                    {% if staff.qualification_4 %}
                                        <li>{{ staff.qualification_4 }}</li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="facilities-carousel container">
        <div class="row">
            <div class="col-sm-12">
               <h2 class="page-subtitle text-center">Our Facility</h2>
            </div>
            <div class="col-sm-12">
                <p class="page-desc text-center">We are a little different that anything you'd come to expect with a
                Barbell club. It's easy for us to detail in words here why we feel our facility is the leading facility
                around. So instead, here is an image carousel for you to check out for yourself. But afterwards, why not
                come in and see it in person, as no image will really do the premises the justice it deserves.</p>
            </div>
            <div class="col-sm-12 carousel-container">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100 img-fluid" src="{% static 'img/coach1.png' %}" alt="Slide 1">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100 img-fluid" src="{% static 'img/lifters.png' %}" alt="Slide 2">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100 img-fluid" src="{% static 'img/dKellcoach.png' %}" alt="Slide 3">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100 img-fluid" src="{% static 'img/sob-lifter.png' %}" alt="Slide 4">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100 img-fluid" src="{% static 'img/coach2.png' %}" alt="Slide 5">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Map using Leaflet.js ~ possibly move to contact page......? -->
    <div class="map-location container">
        <div class="row">
            <div class="col-sm-12">
                <p class="page-desc text-center">We have mentioned above that the best way to experience us and
                our facility is to take the spin out, chat to us and have a walk around. So, we took the liberty of
                adding the map and directions to us, to make it that bit easier for you to find us.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div id="map"></div>
            </div>
        </div>
    </div>
{% endblock %}

<!-- Leaflet.js javascript file & custom map javascript file to render same -->
{% block script %}
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.6.0/leaflet.js" integrity="sha256-fNoRrwkP2GuYPbNSJmMJOCyfRB2DhPQe0rGTgzRsyso="
            crossorigin="anonymous"></script>
    <script defer src="{% static 'js/map.js' %}"></script>
{% endblock %}