{% extends 'base.html' %}

{% load static %}

{% block title %} About {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="page-title text-center">About Us</h1>
            </div>
            <div class="col-sm-12">
                <p class="page-desc text-center">Put very simply, we are a local run family and community orientate health & performance
                facility. We facilitate all things fitness and of course Olympic Weightlifting, hence PHP Barbell. So what makes us
                stand out above the rest?</p>
                <p class="page-desc text-center">We Care. We care about you, about our coaches, about our methods, about our community and
                about openness. We want to impart the knowledge you need to learn about the thing you are doing. With Olympic Weightlifting
                technique and maintaining impeccable form is paramount especially when the load gets heavy. Industry secrets help no-one.
                So we make it our jobs to not have any! Any client who puts their trust in us to help them can rest assured knowing they
                will be provided with all the support necessary to succeed. Now, let's load a barbell!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center brand-img">
                <img class="img-fluid" src="{% static 'img/logo.png' %}" alt="PHP Logo">
            </div>
        </div>
    </div>

    <div class="container services">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="page-subtitle text-center">Olympic Weightlifting</h2>
            </div>
            <div class="col-sm-12">
                <p class="page-desc text-center">Here at PHP Barbell we specialise in teaching Olympic Weightlifting. We all learn together, and even
                our coaching methods evolve with every passing person we train in PHP Barbell. Olympic Weightlifting consists of two primary movements
                ......yes two.</p>
                <p class="page-desc text-center"> The Snatch, and Clean & Jerk. Both movements on paper seem relatively easy. They aren't.
                Luckily our resident coach Danny has a solid hold on all of us and is super eager to impart his well earned knowledge of
                the sport onto anyone willing to learn! We have multiple members all lifting at a competitive standard and even our coaches compete.
                We just love the sport, so much so we do it daily. Have a look at some of the images below to see what our members and coaches do
                and if you are interested, why not take that deep dive into the wonderful world of Olympic Weightlifting at PHP Barbell.</p>
            </div>
            <div class="col-sm-12 text-center services-img">
                <img class="img-fluid" src="{% static 'img/barbell-club.jpg' %}" alt="Barbell Club">
            </div>
        </div>
    </div>

    <div class="coaches container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="page-subtitle text-center">Meet our Coaches</h2>
            </div>
            {% if staff_members %}
                {% for staff in staff_members %}
                    <div class="col-sm-12 col-lg-4">
                        <div class="card">
                            <div class="card-header">
                                <h4><i class="fas fa-portrait"></i> {{ staff.name }}</h4>
                                <small class="brief-desc">{{ staff.brief_desc }}</small>
                            </div>
                            <div class="card-body card-body-coach">
                                <div class="card-img-coach">
                                    <img class="img-fluid" src="{{ staff.photo.url }}" alt="{{ staff.name }} Image">
                                </div>
                                <h5 class="card-title text-center">Qualifications</h5>
                                <ul class="qualifications-list">
                                    {% if staff.qualification_1 %}
                                        <li>{{ staff.qualification_1 }}</li>
                                    {% endif %}
                                    {% if staff.qualification_2 %}
                                        <li>{{ staff.qualification_2 }}</li>
                                    {% endif %}
                                    {% if staff.qualification_3 %}
                                        <li>{{ staff.qualification_3 }}</li>
                                    {% endif %}
                                    {% if staff.qualification_4 %}
                                        <li>{{ staff.qualification_4 }}</li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}