{% extends 'base.html' %}

{% block title %} Welcome {% endblock %}

{% block content %}
    <div class="container-fluid welcome-landing">
        <div class="row no-gutters">
            <div class="col-sm-12 welcome-img">
                <h1 class="welcome-txt">Welcome to PHP Barbell Club</h1>
                <!-- h1 is empty to accomodate JS typewriter effect animation -->
                <div class="typewriter">
                    <h2 class="typewriter-prefix-txt">Time to Build Solid...</h2>
                    <h2 class="typewriter-txt"></h2>
                </div>

            </div>
        </div>
    </div>

    <!-- Page/Form alerts for user visibility, injected via Jinja as template -->
    {% include 'partials/_alerts.html' %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12 introduction text-center">
                <h1>3, 2, 1, Lift!</h1>
                <p>PHP stands for Precision, Health & Performance. And Olympic Weightlifting couldn't be more perfect a medium
                to be Precise, with a Healthy body and Perform at such incredible standards. Our coaches are certified and competed
                National Level and are constantly partaking in their own medicine daily.</p>
                <p>The atmosphere at PHP Barbell club speaks for itself, with huge demand on capped classes meaning each attendee gets
                the same amount of time being coached as the next. Always under a watchful eye, and always ensuring we are all holding
                each other accountable of our prowess.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-sm-6">

            </div>
        </div>
    </div>
{% endblock %}