{% extends 'base.html' %}

{% block title %} Welcome {% endblock %}

{% block content %}
    <div class="container-fluid welcome-landing">
        <div class="row no-gutters">
            <div class="col-sm-12 welcome-img">
                <h1 class="welcome-txt">Welcome to PHP Barbell Club</h1>
                <!-- h1 is empty to accomodate JS typewriter effect animation -->
                <div class="typewriter">
                    <h2 class="typewriter-prefix-txt">Time to Build...</h2>
                    <h2 class="typewriter-txt"></h2>
                </div>

            </div>
        </div>
    </div>
{% endblock %}