{% extends 'base.html' %}

{% load static %}

{% block title %} Welcome {% endblock %}

{% block content %}
    <div class="container-fluid welcome-landing">
        <div class="row no-gutters">
            <div class="col-sm-12 welcome-img">
                <h1 class="welcome-txt">Welcome to PHP Barbell Club</h1>
                <!-- h1 is empty to accomodate JS typewriter effect animation -->
                <div class="typewriter">
                    <h2 class="typewriter-prefix-txt">Time to Build Solid...</h2>
                    <h2 class="typewriter-txt"></h2>
                </div>

            </div>
        </div>
    </div>

    <!-- Page/Form alerts for user visibility, injected via Jinja as template -->
    {% include 'partials/_alerts.html' %}

    <div class="container intro">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="intro-title">3, 2, 1, Lift!</h1>
                <p class="page-desc">PHP stands for Precision, Health & Performance. And Olympic Weightlifting couldn't be more perfect a medium
                to be Precise, with a Healthy body and Perform at such incredible standards. Our coaches are certified and competed
                National Level and are constantly partaking in their own medicine daily.</p>
                <p class="page-desc">The atmosphere at PHP Barbell club speaks for itself, with huge demand on capped classes meaning each attendee gets
                the same amount of time being coached as the next. Always under a watchful eye, and always ensuring we are all holding
                each other accountable of our prowess.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center brand-img">
                <img class="img-fluid" src="{% static 'img/logo.png' %}" alt="PHP Logo">
            </div>
        </div>
        <div class="row cta-cards">
            <div class="col-sm-12 col-md-6">
                <div class="card cta-card">
                    <div class="card-header">
                        <h4><i class="fas fa-user-plus"></i> Start your Journey</h4>
                    </div>
                    <div class="card-body">
                        <p class="cta-card-text">Become part of our community! A one of a kind place where like-minded people get together and discuss
                        everything from the sports of Olympic Lifting to Crossfit, to topics on Health, Nutrition & Physiotherapy and more. Without this
                        community our business would not be what it is today.</p>
                        <p class="cta-card-text">We read and take part in everything the community has to offer for us and
                        in turn it allows us to provide tier 1 excellence in our Business Approach to each and every individual whether PAYG or a subscribed
                        member. Register now!</p>
                        <a href="{% url 'login' %}" class="cta-card-btn btn btn-primary">Register</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="card cta-card">
                    <div class="card-header">
                        <h4><i class="fas fa-user-lock"></i> User Login</h4>
                    </div>
                    <div class="card-body">
                        <p class="cta-card-text">To access our community features, you first need to register with our platform and then login with those
                        credentials on returning visits. When logged in you will have access to our user populated PHP Forum. You will be able to create
                        categorised posts for discussion, edit and delete same.</p>
                        <p class="cta-card-text">You will also be able to select and pay for a Membership Package. You will be able to interact with other
                        User Posts and comment on them, truly engaging with the community and becoming an integral cog in our PHP Barbell Club!</p>
                        <a href="{% url 'login' %}" class="cta-card-btn btn btn-primary">Login</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}