{% extends 'base.html' %}

{% load static %}

{% block title %} Privacy {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h1 class="card-title text-center">Privacy Policy</h1>
                    <div class="card-body">
                        <small>Effective 25 May 2018</small>
                        <h2 class="card-title">Summary</h2>
                        <p class="card-text">The intention of this document is to explain as clearly as possible Precision Health Performance intention in
                            gathering information about the users of our website. We gather information in two ways. General statistics through Google Analytics
                            and contact information submitted to us through our contact form. Precision Health Performance undertakes not to sell or rent to any
                            third party whatsoever any personally identifiable information about you.</p>
                        <h2 class="card-title">1. Introduction</h2>
                        <p class="card-text">It is Precision Health Performance policy to respect your privacy regarding any information we may collect while
                            operating our website. This Privacy Policy applies to "https://www.precisionhealthperformance.com" (hereinafter, "us", "we", or
                            "https://www.precisionhealthperformance.com"). We respect your privacy and are committed to protecting personally identifiable
                            information you may provide us through the Website. We have adopted this privacy policy to explain what information may be collected
                            on our Website, how we use this information, and under what circumstances we may disclose the information to third parties. This
                            Privacy Policy applies only to information we collect through the Website and does not apply to our collection of information from
                            other sources.</p>
                        <h2 class="card-title">2. General Data Protection Regulation (GDPR)</h2>
                        <p class="card-text">We are a Data Controller of your information.</p>
                        <p class="card-text">Precision Health Performance legal basis for collecting and using the personal information described in this
                            Privacy Policy depends on the Personal Information we collect and the specific context in which we collect the information:</p>
                        <ul class="card-list">
                            <li>Precision Health Performance needs to perform a contract with you.</li>
                            <li>You have given Precision Health Performance permission to do so.</li>
                            <li>Processing your personal information is in Precision Health Performance legitimate interests.</li>
                            <li>Precision Health Performance needs to comply with the law.</li>
                        </ul>
                        <p class="card-text">Precision Health Performance will retain your personal information only for as long as is necessary for the
                            purposes set out in this Privacy Policy. We will retain and use your information to the extent necessary to comply with our legal
                            obligations, resolve disputes, and enforce our policies.</p>
                        <p class="card-text">If you are a resident of the European Economic Area (EEA), you have certain data protection rights. If you wish to
                            be informed what Personal Information we hold about you and if you want it to be removed from our systems, please contact us.</p>
                        <p class="card-text">In certain circumstances, you have the following data protection rights:</p>
                        <ul class="card-list">
                            <li>The right to access, update or to delete the information we have on you.</li>
                            <li>The right of rectification.</li>
                            <li>The right to object.</li>
                            <li>The right of restriction.</li>
                            <li>The right to data portability.</li>
                            <li>The right to withdraw consent.</li>
                        </ul>
                        <h2 class="card-title">3. Website Visitors</h2>
                        <p class="card-text">Like most website operators, Precision Health Performance collects non-personally-identifying information of the
                            sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the
                            date and time of each visitor request. Precision Health Performance purpose in collecting non-personally identifying information is
                            to better understand how Precision Health Performance visitors use its website.</p>
                        <h2 class="card-title">4. Security</h2>
                        <p class="card-text">The security of your Personal Information is important to us, but remember that no method of transmission over the
                            Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your
                            Personal Information, we cannot guarantee its absolute security.</p>
                        <p class="card-text">Our Website may contain links to external sites that are not operated by us, mainly through our blog posts. If you
                            click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy
                            and terms and conditions of every site you visit.</p>
                        <p class="card-text">We have no control over, and assume no responsibility for the content, privacy policies or practices of any third
                            party sites, products or services.</p>
                        <h2 class="card-title">5. Generating Statistics</h2>
                        <p class="card-text">Precision Health Performance may collect statistics about the behavior of visitors to its website. Precision Health
                            Performance may display this information publicly or provide it to others. However, Precision Health Performance does not disclose
                            your personally-identifying information.</p>
                        <h2 class="card-title">6. Cookies</h2>
                        <p class="card-text">Cookies identify your computer or device rather than you as an individual user and are used for different purposes.
                            Cookies are small text files stored on your hard drive, which contain information about your activity and preferences when visiting
                            https://www.precisionhealthperformance.com. These cookies allow us to monitor website traffic and to store information about your
                            preferences, which allows us to customise the site according to your needs. If you wish to change the way your browser handles
                            cookies you can do so through your browser’s settings. We utilised cookies for the following reasons;</p>
                        <p class="card-text">Generating Statistics</p>
                        <ul class="card-list">
                            <li>Measuring Website traffic such as the number of visits to the Website.</li>
                            <li>Which Domains the visitors come from.</li>
                            <li>Which pages visitors view on the Website.</li>
                            <li>Which overall geographical areas the visitors are located.</li>
                        </ul>
                        <p class="card-text">Deletion of Cookies</p>
                        <p class="card-text">You can delete the cookies already on your device. You can typically delete cookies from the Privacy or History
                            area, available from the Settings or Options menu in the browser.</p>
                        <h2 class="card-title">7. Privacy Policy Changes</h2>
                        <p class="card-text">Although most changes are likely to be minor, Precision Health Performance may change its Privacy Policy from time
                            to time, and in Precision Health Performance sole discretion. Precision Health Performance encourages visitors to frequently check
                            this page for any changes to its Privacy Policy. Your continued use of this site after any change in this Privacy Policy will
                            constitute your acceptance of such change.</p>
                        <h2 class="card-title">8. Consent</h2>
                        <p class="card-text">By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>
                        <h2 class="card-title">9. Contact</h2>
                        <p class="card-text">If you have any questions about this Privacy Policy, please contact us at info@precisionhealthperformance.com.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center brand-img">
                <img class="img-fluid" src="{% static 'img/logo.png' %}" alt="PHP Logo">
            </div>
        </div>
    </div>
{% endblock %}