{% extends 'base.html' %}

{% block title %} Privacy {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h3 class="card-title text-center">Privacy Policy</h3>
                    <div class="card-body">
                        <small>Effective 25 May 2018</small>
                        <h2 class="card-title">Summary</h2>
                        <p class="card-text">The intention of this document is to explain as clearly as possible Precision Health Performance intention in
                            gathering information about the users of our website. We gather information in two ways. General statistics through Google Analytics
                            and contact information submitted to us through our contact form. Precision Health Performance undertakes not to sell or rent to any
                            third party whatsoever any personally identifiable information about you.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}