{% extends 'base.html' %}

{% load static %}

{% block title %} Contact{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="page-title text-center">Contact Us</h1>
            </div>
            <div class="col-sm-12">
                <p class="page-desc text-center">Lorem.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center brand-img">
                <img class="img-fluid" src="{% static 'img/logo.png' %}" alt="PHP Logo">
            </div>
        </div>
    </div>

    <!-- Page/Form alerts for user visibility, injected via Jinja as template -->
    {% include 'partials/_alerts.html' %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="card form-card">
                    <div class="card-header">
                        <h4><i class="fas fa-paper-plane"></i> Contact</h4>
                    </div>
                    <div class="card-body">
                        <!-- Form fields are without labels to be consistent with modern app design UX themes. -->
                        <form action="{% url 'contact' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form }}
                            </div>
                            <input type="submit" value="Send" class="btn btn-primary">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}