{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="page-title text-center">Membership</h1>
            </div>
            <div class="col-sm-12">
                <p class="page-desc text-center">Put ultimate goal is to create a community of like-minded individuals and help them
                become the best version of themselves. By becoming a Member at PHP, you gain access to not only to our training facility,
                the Barbell club and our coaches. You gain much more! Whether training, nutrition, prehab/rehab, crossfit or of course
                Olympic Weightlifting, we are deliberate in our approach to being Precise, making you Healthier than ever and nurturing
                your Performance throughout.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center brand-img">
                <img class="img-fluid" src="{% static 'img/logo.png' %}" alt="PHP Logo">
            </div>
        </div>
    </div>

    <div class="container services">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="page-subtitle text-center">Our Services include:</h2>
            </div>
            <div class="col-sm-12 col-md-6 my-auto">
                <ul class="services-list text-center">
                    <li class="about-list-item">Coached Weightlifting</li>
                    <li class="about-list-item">Pay As You Go Options</li>
                    <li class="about-list-item">Online Coaching</li>
                    <li class="about-list-item">Nutrition Planning</li>
                    <li class="about-list-item">Personal Training</li>
                    <li class="about-list-item">Physical Therapy</li>
                    <li class="about-list-item">Community</li>
                    <li class="about-list-item">& More</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-6 services-img">
                <img class="img-fluid" src="{% static 'img/coach3.jpg' %}" alt="Barbell Club">
            </div>
        </div>
    </div>
{% endblock %}