/* CSS file parsed through https://autoprefixer.github.io/ to obtain web-kits needed
 where necessary to ensure as much cross-browser compatibility. */

/* Global Styles used through application */

    /* Font imports */
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Condensed&display=swap');

    /* Margin & Padding reset */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #efeeee;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100vh;
}

/* Custom styled Browser Vertical Scrollbar */

body::-webkit-scrollbar {
    width: 10px;
}

    /* Inset Box shadow used with background to create depth for Scrollbar track */
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0, 0.2);
    /* 5-stop Gradient used to create smooth end to end finish to compliment thumb styles */
    background: -webkit-linear-gradient(#323232, #323232, #d8bb6c, #d8bb6c, #323232, #323232);
}

    /* Scrollbar thumb styles */
body::-webkit-scrollbar-thumb {
    width: 8px;
    border: 1px solid #323232;
    border-radius: 5px;
    /* Vertical Box-shadow only to simulate depth of thumb sitting into the Track */
    -webkit-box-shadow: 0 5px 3px rgba(100, 100, 100, 0.7);
    background: -webkit-linear-gradient(#ffe279, #d8bb6c, #c4a762, #d8bb6c, #ffe279);
}

/* Alerts */

.alerts-container {
    margin-top: 2rem;
}

.alert {
    font-family: "Lato", sans-serif;
}

/* Navbar */

    /* Custom Navbar BG color theme */
.bg-custom {
    background-color: #323232;
}

.navbar-brand img {
    height: 3.2rem;
}

.cart-alert {
    font-size: 1rem;
    color: #ffe279;
}

    /* Navbar links set to default primary color of black using specificity */
.navbar .navbar-nav .nav-link {
    color: #ebf2ff;
}

.navbar .navbar-nav .nav-link:hover {
    color: #ffe279;
}

.navbar-dark .navbar-nav .active>.nav-link {
    color: #ffe279;
}

.navbar .navbar-toggler {
    border-color: transparent;
}

/* Footer */

footer {
    background-color: #323232;
    min-height: 3rem;
}

footer .row {
    margin: auto 0;
}

.additional-links-footer {
    margin-bottom: 0;
}

.additional-link {
    margin-bottom: 0.5rem;
    list-style: none;
}

.additional-link a {
    color: #ebf2ff;
}

.additional-link a:hover {
    color: #ffe279;
    text-decoration: none;
}

.dev-note {
    margin: auto 0;
}

.dev-note p {
    color: #ebf2ff;
    margin-bottom: 0.5rem;
}

.socials {
    margin: auto 0;
}

.social-links {
    margin-bottom: 0.5rem;
}

.social-links li a i{
    color: #ebf2ff;
    font-size: 1.5rem;
    margin: auto 0;
    cursor: pointer;
    vertical-align: middle;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.social-links li a i:hover {
    color: #ffe279;
    font-size: 1.6rem;
}

/* Global page elements */

.content {
    margin-top: 77px;
    -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
}

.page-title {
    margin: 1.5rem 0 0.5rem 0 ;
}

.page-subtitle {
    margin: 1rem 0 0.5rem 0;
}

.page-subtitle::after {
    content: '';
    display: block;
    height: 1px;
    width: 30%;
    margin: 5px auto;
    background: #000000;
}

.page-desc {
    font-family: "Lato", sans-serif;
    margin: 1rem;
}

.brand-img {
    margin: 1.5rem 0;
}

    /* Forms */
.form-control {
    margin: 1rem 0;
    border: none;
    background: none;
    box-shadow: inset -3px -5px 10px 0 rgba(255, 255, 255, 0.63), inset 3px 3px 10px 0 rgba(67,35,68,0.50);
    color: #323232;
    font-size: 18px;
    transition: 0.3s ease-out;
}

.form-control::placeholder {
    color: #ad9d93;
}

.form-control:focus {
    box-shadow: inset -3px -5px 5px 0 rgba(255, 255, 255, 0.83), inset 3px 3px 10px 0 rgba(67,35,68,0.30);
}

.btn-primary {
    display: block;
    margin: 0 auto 1rem;
    background: linear-gradient(145deg, #7f4e80, #6b3f6c, #512a52);
    border: none;
    text-shadow: -1px 0 #6b3f6c, 0 1px #6b3f6c, 1px 0 #6b3f6c, 0 -1px #6b3f6c;
    border-radius: 50% 50% 50% 50% / 100% 100% 100% 100%;
    -webkit-box-shadow: -3px -3px 10px 0 rgba(255, 255, 255, 0.83), 3px 3px 10px 0 rgba(67,35,68,0.50);
    -moz-box-shadow: -3px -3px 10px 0 rgba(255, 255, 255, 0.83), 3px 3px 10px 0 rgba(67,35,68,0.50);
    box-shadow: -3px -3px 10px 0 rgba(255, 255, 255, 0.83), 3px 3px 10px 0 rgba(67,35,68,0.50);
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background: linear-gradient(165deg, #704271, #573158, #512a52);
    border: none;
    text-shadow: -1px 0 #6b3f6c, 0 1px #6b3f6c, 1px 0 #6b3f6c, 0 -1px #6b3f6c;
    border-radius: 50% 50% 50% 50% / 100% 100% 100% 100%;
    -webkit-box-shadow: -3px -3px 10px 0 rgba(255, 255, 255, 0.83), 3px 3px 10px 0 rgba(67,35,68,0.50);
    -moz-box-shadow: -3px -3px 10px 0 rgba(255, 255, 255, 0.83), 3px 3px 10px 0 rgba(67,35,68,0.50);
    box-shadow: -3px -3px 10px 0 rgba(255, 255, 255, 0.83), 3px 3px 10px 0 rgba(67,35,68,0.50);
}

    /* Used devtools to understand why button was keeping default bootstrap styles when pressed */
    /* Added below custom style to ensure project color scheme is adhered to */
.btn-primary:not(:disabled):not(.disabled):active {
    background: linear-gradient(195deg, #704271, #573158, #512a52);
    border: none;
    text-shadow: -1px 0 #6b3f6c, 0 1px #6b3f6c, 1px 0 #6b3f6c, 0 -1px #6b3f6c;
    border-radius: 50% 50% 50% 50% / 100% 100% 100% 100%;
    -webkit-box-shadow: inset -3px -3px 10px 0 rgba(67,35,68, 0.83), inset 3px 3px 10px 0 rgba(67,35,68,0.50) !important;
    -moz-box-shadow: inset -3px -3px 10px 0 rgba(67,35,68, 0.83), inset 3px 3px 10px 0 rgba(67,35,68,0.50) !important;
    box-shadow: inset -3px -3px 10px 0 rgba(67,35,68, 0.83), inset 3px 3px 10px 0 rgba(67,35,68,0.50) !important;
}

    /* Bootstrap components custom styling */
    /* Cards styled inline with Application theme */
.card {
    background-color: #efeeee;
    margin: 3rem 1rem;
    border-radius: 1rem;
    -webkit-box-shadow: -10px -10px 20px 0 rgba(244, 255, 243, 0.83), 10px 10px 20px 0 rgba(67,35,68,0.20);
    -moz-box-shadow: -10px -10px 20px 0 rgba(244, 255, 243, 0.83), 10px 10px 20px 0 rgba(67,35,68,0.20);
    box-shadow: -10px -10px 20px 0 rgba(244, 255, 243, 0.83), 10px 10px 20px 0 rgba(67,35,68,0.20);
    border: none;
    /* border-box clip path used to prevent background protruding past child elements */
    background-clip: border-box;
}

.card-header:first-child {
    border-radius: 1rem 1rem 0 0;
}

.card-title {
    font-family: "Roboto Condensed", sans-serif;
    margin-top: 1rem;
}

.card-title::after {
    content: '';
    display: block;
    height: 1px;
    width: 30%;
    margin: 5px auto;
    background: #000000;
}

.card-body {
    font-family: "Lato", sans-serif;
}

.card-list {
    padding-left: 2.5rem;
}

    /* Pagination elements styled inline with Application theme */
.pagination {
    margin: 1rem auto 0;
    justify-content: center;
}

.page-link {
    margin: 0 0.5rem;
    border: none;
    border-radius: 0.5rem;
    color: #6b3f6c;
    -webkit-box-shadow: -3px -3px 10px 0 rgba(255, 255, 255, 0.83), 3px 3px 10px 0 rgba(67,35,68,0.50);
    -moz-box-shadow: -3px -3px 10px 0 rgba(255, 255, 255, 0.83), 3px 3px 10px 0 rgba(67,35,68,0.50);
    box-shadow: -3px -3px 10px 0 rgba(255, 255, 255, 0.83), 3px 3px 10px 0 rgba(67,35,68,0.50);
}

.page-link:hover, .page-link:active, .page-link:focus {
    color: #efeeee;
    background: linear-gradient(195deg, #704271, #573158, #512a52);
    -webkit-box-shadow: -3px -3px 10px 0 rgba(255, 255, 255, 0.83), 3px 3px 10px 0 rgba(67,35,68,0.50);
    -moz-box-shadow: -3px -3px 10px 0 rgba(255, 255, 255, 0.83), 3px 3px 10px 0 rgba(67,35,68,0.50);
    box-shadow: -3px -3px 10px 0 rgba(255, 255, 255, 0.83), 3px 3px 10px 0 rgba(67,35,68,0.50);
}

.page-item.active .page-link {
    background: linear-gradient(145deg, #7f4e80, #6b3f6c, #512a52);
    color: #efeeee;
}

.paginator-page-cta {
    color: #7f4e80;
}

.paginator-page-cta,
.page-item.disabled .paginator-page-cta{
    background: none;
    border: none;
    box-shadow: none;
}

.paginator-page-cta:hover, .paginator-page-cta:active, .paginator-page-cta:focus {
    color: #6b3f6c;
    background: none;
    border: none;
    box-shadow: none;
}

/* Home page */

.welcome-landing {
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px solid rgba(0,0,0, 0.5);
}

.welcome-img {
    background: url("../img/barbell_abs_main.jpg") center no-repeat;
    background-size: cover;
    height: 50vh;
    position: relative;
}

.welcome-txt {
    color: #f8f8f8;
    text-shadow: -1px 0 #212121, 0 1px #212121, 1px 0 #212121, 0 -1px #212121;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    text-align: center;
}

.welcome-txt::after {
    content: '';
    display: block;
    height: 2px;
    width: 20%;
    margin: 5px auto;
    background: #ffe279;
    border-bottom: 1px solid #000000;
}

    /* Typewriter text animation */
.typewriter {
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    text-align: center;
}

.typewriter::after {
    content: '';
    display: block;
    height: 2px;
    width: 20%;
    margin: 5px auto;
    background: #ffe279;
    border-bottom: 1px solid #000000;
}

.typewriter-prefix-txt {
    color: #f8f8f8;
    text-shadow: -1px 0 #212121, 0 1px #212121, 1px 0 #212121, 0 -1px #212121;
}

.typewriter-txt {
    color: #f8f8f8;
    text-shadow: -1px 0 #212121, 0 1px #212121, 1px 0 #212121, 0 -1px #212121;
    position: absolute;
    margin-top: 0.8rem;
    top: 75%;
    left: 0;
    right: 0;
    text-align: center;
}

    /* Create cursor affect accompanied with blink animation */
.typewriter-txt::after {
    content: '';
    margin-left: 3px;
    width: 1px;
    height: 5%;
    border-right: 2px solid #ececec;
    animation: blink 0.6s infinite ease-in-out;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.intro {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.intro-title {
    margin-bottom: 0.5rem;
}

.intro-title::after {
    content: '';
    display: block;
    height: 2px;
    width: 20%;
    margin: 5px auto;
    background: #000000;
}

.cta-card-btn {
    width: 85px;
    margin-top: 1.5rem;
    margin-bottom: 0.6rem;
}

/* About page */

.club-img img {
    object-fit: contain;
    margin: 1rem auto;
    border-radius: 1rem;
    -webkit-box-shadow: -10px -10px 20px 0 rgba(244, 255, 243, 0.83), 10px 10px 20px 0 rgba(67,35,68,0.20);
    -moz-box-shadow: -10px -10px 20px 0 rgba(244, 255, 243, 0.83), 10px 10px 20px 0 rgba(67,35,68,0.20);
    box-shadow: -10px -10px 20px 0 rgba(244, 255, 243, 0.83), 10px 10px 20px 0 rgba(67,35,68,0.20);
}

.brief-desc {
    font-family: "Lato", sans-serif;
    font-style: italic;
    padding-left: 1.5rem;
}

    /* Justifying content center on the coaches row to ensure any number of cards align centrally */
.coaches .row {
    justify-content: center;
}

.card-body-coach {
    min-height: 550px;
}

.card-img-coach {
    text-align: center;
}

.card-img-coach img {
    min-height: 259px;
    object-fit: contain;
    margin: 0 auto;
    border-radius: 1rem;
}

.qualifications-list li {
    list-style: none;
    font-family: "Lato", sans-serif;
    text-transform: capitalize;
    font-size: 1rem;
    padding: 0.4rem 0;
}

.carousel-container {
    margin: 1rem auto;
    border-radius: 1rem;
    -webkit-box-shadow: -10px -10px 20px 0 rgba(244, 255, 243, 0.83), 10px 10px 20px 0 rgba(67,35,68,0.20);
    -moz-box-shadow: -10px -10px 20px 0 rgba(244, 255, 243, 0.83), 10px 10px 20px 0 rgba(67,35,68,0.20);
    box-shadow: -10px -10px 20px 0 rgba(244, 255, 243, 0.83), 10px 10px 20px 0 rgba(67,35,68,0.20);
}

.carousel img {
    object-fit: contain;
    margin: 1rem 0;
    height: 400px;
    min-width: 100%;
    max-width: none;
}

#map {
    height: 600px;
    margin-top: 1rem;
    margin-bottom: 3rem;
    border-radius: 1rem;
    -webkit-box-shadow: -10px -10px 20px 0 rgba(244, 255, 243, 0.83), 10px 10px 20px 0 rgba(67,35,68,0.20);
    -moz-box-shadow: -10px -10px 20px 0 rgba(244, 255, 243, 0.83), 10px 10px 20px 0 rgba(67,35,68,0.20);
    box-shadow: -10px -10px 20px 0 rgba(244, 255, 243, 0.83), 10px 10px 20px 0 rgba(67,35,68,0.20);
}

/* Forum page */

    /* Ensure posts are displayed centrally at all times ensuring odd numbers are consistently
    centered and maintaining the flow of the webpage */
.posts-row {
    justify-content: center;
}

.create-post-btn {
    /* Use of inline-block display method to ensure that button width expands to fit text within */
    display: inline-block;
    margin: 1rem 0 0;
}

.posts {
    margin-bottom: 1.5rem;
}

.card-post {
    border-radius: 1rem;
    margin: 1rem;
}

.card-post-body {
    padding: 0.75rem 1.25rem;
}

.card-post-body:hover {
    border-radius: 1rem;
    -webkit-box-shadow: 10px 10px 20px 0 rgba(255, 37, 37, 0.15);
    -moz-box-shadow: 10px 10px 20px 0 rgba(255, 37, 37, 0.15);
    box-shadow: 10px 10px 20px 0 rgba(255, 37, 37, 0.15);
}

    /* Empty span styled as an absolute positioned element inside the relative parent and set to the parent width & height.
    Z-Index set to 1 to ensure the empty span is brought to the foreground, thus allowing user to click anywhere on card
    component to be brought to full post view. */
.div-url-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.post-header{
    margin: 0.5rem 0;
}

.post-header::after{
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    margin: 5px auto 0 0;
    background: #ad9d93;
}

.post-originator {
    font-size: 1.2rem;
    font-style: italic;
}

.post-details {
    display: block;
    text-align: right;
}

/* View Post page */

.post-footer div .post-details {
    text-align: right;
}

.edit-post-cta {
    font-family: "Roboto Condensed", sans-serif;
}

.edit-link {
    color: #7f4e80;
}

.edit-link:hover {
    color: #6b3f6c;
    text-decoration: none;
    cursor: pointer;
}

.comment-card {
    background-color: #efeeee;
    margin: 0.5rem 1rem;
    border-radius: 1rem;
    -webkit-box-shadow: -10px -10px 20px 0 rgba(244, 255, 243, 0.83), 10px 10px 20px 0 rgba(255, 37, 37, 0.25);
    -moz-box-shadow: -10px -10px 20px 0 rgba(244, 255, 243, 0.83), 10px 10px 20px 0 rgba(255, 37, 37, 0.25);
    box-shadow: -10px -10px 20px 0 rgba(244, 255, 243, 0.83), 10px 10px 20px 0 rgba(255, 37, 37, 0.25);
    /* border-box clip path used to prevent background protruding past child elements */
    background-clip: border-box;
}

.comment-card-body {
    padding: 0.5rem 1.25rem;
}

.comment-text {
    margin: 0 1rem;
}

.comment-details::before {
    content: '';
    display: flex;
    height: 1px;
    width: 100%;
    margin: 3px 0 0 auto;
    background: #ad9d93;
}

.comment-details {
    display: block;
    text-align: right;
}

.span-text {
    font-style: italic;
    font-family: "Roboto Condensed", sans-serif;
}

.comment-btn {
    margin: 0 auto;
}

/* Create Post page */

    /* Font colors of categories select dropdown to ensure consistency with site theme. */
#id_category,
#id_category:not(:first-child) {
    color: #000000;
}

#id_category option:first-child {
    color: #ad9d93;
}

#id_category:invalid {
    color: #ad9d93;
}

#id_category:invalid option:not(:disabled) {
    color: #000000;
}

/* Edit Post */

.edit-post-footer {
    background-color: #efeeee;
    margin: 0 1rem 1rem;
    border-radius: 1rem;
    border: none;
    -webkit-box-shadow: -3px -3px 10px 0 rgba(255, 255, 255, 0.83), 3px 3px 10px 0 rgba(67,35,68,0.50);
    -moz-box-shadow: -3px -3px 10px 0 rgba(255, 255, 255, 0.83), 3px 3px 10px 0 rgba(67,35,68,0.50);
    box-shadow: -3px -3px 10px 0 rgba(255, 255, 255, 0.83), 3px 3px 10px 0 rgba(67,35,68,0.50);
    /* border-box clip path used to prevent background protruding past child elements */
    background-clip: border-box;
}

.open-del {
    margin: 1rem 0;
}

.open-del a {
    font-family: "Roboto Condensed", sans-serif;
    color: #7f4e80;
    text-decoration: underline;
}

.open-del a:hover {
    color: #6b3f6c;
}

.del-desc {
    color: #ff2525;
    font-style: italic;
    border: 1px solid rgba(255, 37, 37, 0.3);
    border-radius: 0.5rem;
    padding: 0.5rem;
    -webkit-box-shadow: inset -3px -5px 10px 0 rgba(255, 255, 255, 0.63), inset 3px 3px 10px 0 rgba(255, 37, 37, 0.5);
    -moz-box-shadow: inset -3px -5px 10px 0 rgba(255, 255, 255, 0.63), inset 3px 3px 10px 0 rgba(255, 37, 37, 0.5);
    box-shadow: inset -3px -5px 10px 0 rgba(255, 255, 255, 0.63), inset 3px 3px 10px 0 rgba(255, 37, 37, 0.5);
}

.confirm-del {
    margin-bottom: 1rem;
}

.btn-del {
    background: linear-gradient(145deg, rgba(247,90,105,1) 0%, rgb(222, 53, 69) 35%, rgba(177,22,37,1) 100%);
    border: none;
    text-shadow: -1px 0 #de3545, 0 1px #de3545, 1px 0 #de3545, 0 -1px #de3545;
    border-radius: 50% 50% 50% 50% / 100% 100% 100% 100%;
    -webkit-box-shadow: -3px -3px 10px 0 rgba(255, 255, 255, 0.83), 3px 3px 10px 0 rgba(67,35,68,0.50);
    -moz-box-shadow: -3px -3px 10px 0 rgba(255, 255, 255, 0.83), 3px 3px 10px 0 rgba(67,35,68,0.50);
    box-shadow: -3px -3px 10px 0 rgba(255, 255, 255, 0.83), 3px 3px 10px 0 rgba(67,35,68,0.50);
}

.btn-del:hover, .btn-del:active, .btn-del:focus {
    background: linear-gradient(165deg, rgb(222, 53, 69) 0%, rgba(177,22,37,1) 35%, rgb(145, 23, 37) 100%);
    border: none;
    text-shadow: -1px 0 #de3545, 0 1px #de3545, 1px 0 #de3545, 0 -1px #de3545;
    border-radius: 50% 50% 50% 50% / 100% 100% 100% 100%;
    -webkit-box-shadow: -3px -3px 10px 0 rgba(255, 255, 255, 0.83), 3px 3px 10px 0 rgba(67,35,68,0.50);
    -moz-box-shadow: -3px -3px 10px 0 rgba(255, 255, 255, 0.83), 3px 3px 10px 0 rgba(67,35,68,0.50);
    box-shadow: -3px -3px 10px 0 rgba(255, 255, 255, 0.83), 3px 3px 10px 0 rgba(67,35,68,0.50);
}

/* Membership page */

.services-list li {
    font-family: "Lato", sans-serif;
    font-size: 1.4rem;
    list-style: none;
}

.services-list li::after {
    content: '';
    display: block;
    height: 1px;
    width: 10%;
    margin: 0.5rem auto;
    background: #000000;
}

.services-img img {
    object-fit: contain;
    margin: 1rem auto;
    border-radius: 1rem;
    -webkit-box-shadow: -10px -10px 20px 0 rgba(244, 255, 243, 0.83), 10px 10px 20px 0 rgba(67,35,68,0.20);
    -moz-box-shadow: -10px -10px 20px 0 rgba(244, 255, 243, 0.83), 10px 10px 20px 0 rgba(67,35,68,0.20);
    box-shadow: -10px -10px 20px 0 rgba(244, 255, 243, 0.83), 10px 10px 20px 0 rgba(67,35,68,0.20);
}

    /* Membership plans */
.membership-card:hover {
    border-radius: 1rem;
    -webkit-box-shadow: 10px 10px 20px 0 rgba(255, 37, 37, 0.15);
    -moz-box-shadow: 10px 10px 20px 0 rgba(255, 37, 37, 0.15);
    box-shadow: 10px 10px 20px 0 rgba(255, 37, 37, 0.15);
}

.membership-detail .brief-desc {
    padding: 0;
    min-height: 100px;
}

.price-desc {
    font-family: "Roboto Condensed", sans-serif;
    font-style: italic;
    font-size: 1.2rem;
    padding: 0;
    margin-bottom: 0;
}

.action-helper {
    font-style: italic;
    color: #131313;
    border-bottom: 1px solid #ad9d93;
}

/* Login page */

.form-card {
    margin: 1rem auto 2rem;
}

.card-header h4 {
    margin: auto 0;
}

.register-link a {
    font-family: "Lato", sans-serif;
    font-style: italic;
    color: #575757;
    text-decoration: none;
    padding: 0.5rem;
    border-bottom: 1px solid #575757;
}

/* Accessibility & Privacy Policy Pages */

.card-subtitle {
    font-family: "Roboto Condensed", sans-serif;
    margin: 1rem 0;
}

/* Media Queries */

@media (min-width: 575px){
    /* Global components media queries */
        /* Alerts */
    .alert {
        margin: 0 auto 1rem;
    }

    /* Constraint set on card-form element */
    .form-card {
        width: 60%;
        margin: 1rem auto 2.5rem;
    }

    /* Adjustment of filter select field width on larger breakpoints */
    .filter-field {
        width: 70%;
        margin: 0 auto 1rem;
    }

    /* Re-size width of pseudo placed line break after Post Card header
     element in post card */
    .post-header::after{
        content: '';
        display: block;
        height: 1px;
        width: 50%;
        margin: 5px auto 0 0;
        background: #ad9d93;
    }

    /* Re-size width of pseudo placed line break before comment details
     in comment card */
    .comment-details::before {
        content: '';
        display: flex;
        height: 1px;
        width: 50%;
        margin: 3px 0 0 auto;
        background: #ad9d93;
    }
}

@media (min-width: 768px){
    /* Global components media queries */
        /* Alerts */
    .alert {
        width: 60%;
    }

    /* Re-size width of pseudo placed line break before comment details
     in comment card */
    .comment-details::before {
        content: '';
        display: flex;
        height: 1px;
        width: 40%;
        margin: 3px 0 0 auto;
        background: #ad9d93;
    }
}

@media (min-width: 961px) {

    /* Re-size width of pseudo placed line break before comment details
     in comment card */
    .comment-details::before {
        content: '';
        display: flex;
        height: 1px;
        width: 30%;
        margin: 3px 0 0 auto;
        background: #ad9d93;
    }
}

@media (min-width: 991px){

    /* Adjustment of filter select field width on larger breakpoints */
    .filter-field {
        width: 50%;
        margin: 0 auto 1rem;
    }
}