{% extends 'base.html' %}

{% load static %}

{% block title %} Discussion {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="view-title">The PHP Barbell Forum</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <p class="view-desc">Below you will find posts from our registered Users of this website.
                This is a great place to get acquainted with other members of PHP Barbell. Although you
                may see some posts not relating Olympic Weightlifting and pertaining to other modalities
                that the gym offers.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center brand-img">
                <img class="img-fluid" src="{% static 'img/logo.png' %}" alt="PHP Logo">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% for post in posts %}
                <div class="col-sm-12 col-lg-6">
                    <div class="card card-post">
                        <div class="card-body card-post-body">
                            <h4 class="card-title post-originator">{{ post.originator }}</h4>
                            <h2 class="post-title"><a href="#">{{ post.title }}</a></h2>
                            <small class="post-date text-muted">{{ post.date_posted|date:'F d, Y' }}</small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}